{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Apply leave</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet"
          href="{% static 'assets/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style-apply-leave.css' %}">
</head>

<body>

<div class="wrapper">
    <div class="inner">
        <div class="image-holder">
            <img src="{% static 'assets/images/leave3.jpg' %}" alt="">
        </div>
        <form method="post" action="send-leave-request">
            {% csrf_token %}
            <h3>Apply Leave</h3>

            <div class="form-row">

                    <input id="from" type="date" name="from_date" class="form-control" placeholder="From">

                    <input type="date" name="to_date" class="form-control" placeholder="TO">
                </div>

                <div class="form-row">
                    <input type="email" name="email" class="form-control" placeholder="Notify">

                    <div class="form-holder">
                        <select name="leave_type" id="" class="form-control" >
                            <option value="" selected disabled >Leave Type</option>
                            <option value="Sick">Sick</option>
                            <option value="Casual">Casual</option>
                            <option value="Marriage">Marriage</option>
                        </select>
                        <i class="zmdi zmdi-chevron-down"></i>
                    </div>
                </div>
                <textarea name="leave_reason" placeholder="Note" class="form-control" style="height: 130px;"></textarea>
                <button type="submit">Apply
                    <i class="zmdi zmdi-long-arrow-right"></i>
                </button>
        </form>

    </div>
</div>

<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/js/main-apply-leave.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>